<a href="https://colab.research.google.com/github/LimYeongJun/Jump-to-python/blob/master/ch05_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1. 다음은 Calculator 클래스이다.

In [0]:
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val

위 클래스를 상속하는 UpgradeCalculator를 만들고 값을 뺄 수 있는 minus 메서드를 추가해 보자. 즉 다음과 같이 동작하는 클래스를 만들어야 한다.

In [0]:
cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)

print(cal.value) # 10에서 7을 뺀 3을 출력

아래와 같이 Calculator 클래스를 상속하는 다른 클래스를 만들고 minus 메서드를 추가하면 된다.

In [0]:
class UpgradeCalculator(Calculator):
    def minus(self, val):
        self.value -= val

### 2. 객체변수 value가 100 이상의 값은 가질 수 없도록 제한하는 MaxLimitCalculator 클래스를 만들어 보자. 즉 다음과 같이 동작해야 한다.

In [0]:
cal = MaxLimitCalculator()
cal.add(50) # 50 더하기
cal.add(60) # 60 더하기

print(cal.value) # 100 출력

단 반드시 다음과 같은 Calculator 클래스를 상속해서 만들어야 한다.

In [0]:
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val

Calculator class를 상속하고 add 메서드를 오버라이딩하여 다음과 같은 클래스를 만든다.

In [0]:
class MaxLimitCalculator(Calculator):
    def add(self, val):
        self.value += val
        if self.value > 100:
            self.value = 100

### 3. 다음 결과를 예측해보자.

In [0]:
all([1, 2, abs(-3)-3])

False

abs(-3)은 절대값이므로 3이 되기 때문에 all([1,2,0])이 되고, 리스트의 요솟값중 0이 있기 떄문에 all 내장함수의 결과는 False가 됨.

In [0]:
chr(ord('a')) == 'a'

True

ord('a')는 97이 되고 chr(97)은 'a' 이므로 'a' == 'a'이기 떄문에 True를 반환한다.

### 4. filter와 lambda를 사용하여 리스트 [1, -2, 3, -5, 8, -3]에서 음수를 모두 제거해 보자.

In [0]:
list(filter(lambda x:x>0, [1, -2, 3, -5, 8, -3]))

[1, 3, 8]

### 5. 234라는 10진수의 16진수는 다음과 같이 구할 수 있다.

In [0]:
hex(234)

'0xea'

이번에는 반대로 16진수 문자열 0xea를 10진수로 변경해 보자.

In [0]:
int('0xea', 16)

234

### 6. map과 lambda를 사용하여 [1,2,3,4] 리스트의 각 요솟값에 3이 곱해진 리ㅡ트[3,6,9,12]를 만들어 보자.

In [0]:
list(map(lambda x:x*3, [1,2,3,4]))

[3, 6, 9, 12]

### 7. 다음 리스트의 최댓값과 최솟값의 합을 구해보자.<br>
[-8,2,7,5,-3,5,0,1]

In [0]:
a = [-8, 2, 7, 5, -3, 5, 0, 1]
max(a) + min(a)

-1

### 8.17 / 3 의 결과는 다음과 같다

In [0]:
17 / 3

5.666666666666667

위와 같은 결과값을 소숫점 4자리까지만 반올림하여 표시해보자.

In [0]:
round(17/3 , 4)

5.6667

### 9. 다음과 같이 실행할 때 입력값을 모두 더하여 출력하는 스크립트(C:\doit\myargv.py)를 작성해 보자.

In [0]:
import os

A = "./doit/"

if not os.path.exists(A):
  os.mkdir(A)

In [22]:
%%writefile doit/myargv.py

def myargv_test():
  print(myargv)

Overwriting doit/myargv.py

In [23]:
import sys
print(sys.argv)

['/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py', '-f', '/root/.local/share/jupyter/runtime/kernel-0de49723-97ef-4c37-87bc-2e87e91a04c6.json']

In [26]:
myargv=sys.argv
sys.argv=[myargv,1,2,3,4,5,6,7,8,9,10]
import sys

numbers = sys.argv[1:]
result = 0
for number in numbers:
    result += int(number)
print(result)

55

### 10. os 모듈을 사용하여 다음과 같이 동작하도록 코드를 작성해 보자.<br>1. C:/doit 디렉터리로 이동한다<br>2. dir명령을 실행하고 그 결과를 변수에 담는다.<br>3. dir 명령의 결과를 출력한다.

In [0]:
import os

def createFolder(directory):
  try:
    if not os.path.exists(directory):
      os.makedirs(directory)
  except OSError:
    print('Error: Creating directory' + directory)
    
createFolder('C:/doit')

os.chdir("C:/doit")

In [0]:
result = os.popen("dir")

In [0]:
print(result.read())

### 11. glob 모듈을 사용하여 C:\doit 디렉터리의 파일 중 확장자가 .py인 파일만 출력하는 프로그램을 작성해 보자.

In [0]:
import glob
glob.glob("c:/doit/*.py")

[]

### 12. time 모듈을 사용하여 현재 날짜와 시간을 다음과 같은 형식으로 출력해 보자.
<br>2018/04/03 17:20:32

In [0]:
import time
time.strftime("%Y/%m/%d %H:%M:%S")

'2019/10/09 14:25:52'

### 13. random 모듈을 사용하여 로또 번호(1~45 사이의 숫자 6개)를 생성해 보자(단 중복된 숫자가 있으면 안 됨).

In [0]:
import random

result = []
while len(result) < 6:
    num = random.randint(1, 45)
    if num not in result:
        result.append(num)

print(result)

[34, 2, 20, 22, 44, 27]